
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #12A2BC;
    --cor-terciaria: #EFBE09;
    --cor-hover: #2c2c2c;

    --cor-destaque: #670000;

    --fonte-primaria:"Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin:  0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

span {
    color: var(--cor-destaque);
}

section{
    display: flex;
    gap: 20%;
}

.cabecalho {
    padding: 5% 0% 0% 3%;
}

.cabecalho_menu {
    display: flex;
    gap: 50px;
}

.cabecalho_menu_links {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600px;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho_menu_links:hover {
    text-decoration: dashed;
    color:var(--cor-terciaria)
}

.apresentacao {
    padding: 5% 10%;
    justify-content: space-between;
    gap: 90px;
}


/* Paragrafo 1 */

.apresentacao_conteudo1 {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction:column;
    gap: 40px;
    margin: 25% 0%;
}

.apresentacao-secao1 {
    display: flex;
    align-items: center;
}

.apresentacao_imagem2 {
    width: 90%;
    display: flex;
    align-items: flex-end;
}

/* Paragrafo 2 */

.secao2 {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.apresentacao_conteudo2 {
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 40px;
}

.imagem1 {
    width: 70%;
    margin: 5% 0% 0% 10px;
}

/* Paragrafo 3 */
.apresentacao_conteudo3 {
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 40px;
}

/* Paragrafo 4 */
.apresentacao_conteudo4 {
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 40px;
}

/* Titulo */

.apresentacao_conteudo_titulo-P {
    font-size: 5.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    padding: 5% 0% 0% 0%;
}

.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    padding: 15% 0% 0% 0%;
}

.tituloDestaque{
    color: var(--cor-terciaria);
}

/* Texto */
.apresentacao_conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria)
}

.apresentacao_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.apresentacao_links_subtitulo {
  font-family: var(--fonte-primaria); 
  font-weight: 400px;
  font-size: 1.5rem;
}

.apresentacao_links_navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 20%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.habilidades-container {
    justify-content:space-between;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 20%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.habilidades-container-conteudo {
    gap: 20%;
}

img {
    width: 50%;
}

.apresentacao_links_link:hover {
    background-color: var(--cor-hover);
    border: 3px solid var(--cor-destaque);
    color: var(--cor-destaque);
}

.rodape {
    padding: 24px 1px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

@media (max-width: 1035px) {
    
    .cabecalho {
        padding: 10%;
    }

    .cabecalho_menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction:column;
        padding: 5%;
    }

    .apresentacao_conteudo {
        width: auto;
    }
}